# Basics
.DS_Store
~$*

# IDE
.idea/
*.iml
.vscode

# Executable
/model/model
/ui/ui
/backend/backend
*.test
*.exe

# gen build folders
build/
*.out

backend/conf/dbconn*.json
.env
!web/.env
postgres-data
